# Project configuration
COMPOSE_PROJECT_NAME=python-flask-template
PROJ_DIR=src

# Docker network
DOCKER_NETWORK_NAME=local
DOCKER_NETWORK_CIDR=192.17.210.0/24

# Docker volumes
DOCKER_VOLUME_DB=db-data

# Flask application
FLASK_DOCKERFILE='./docker/local/python-flask/Dockerfile'
FLASK_CONTAINER_NAME=flask
FLASK_BASE_IMAGE=python:3.11
FLASK_IMAGE_NAME="novadevs/${COMPOSE_PROJECT_NAME}-${FLASK_CONTAINER_NAME}:latest"
FLASK_EXTERNAL_PORT=5000
FLASK_INTERNAL_PORT=5000

# PostgreSQL database
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_BASE_IMAGE=postgres:15-bullseye
POSTGRES_IMAGE_NAME="novadevs/${COMPOSE_PROJECT_NAME}-${POSTGRES_CONTAINER_NAME}:latest"
POSTGRES_DATABASE=mydatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypasswd
POSTGRES_EXTERNAL_PORT=55432
POSTGRES_INTERNAL_PORT=5432
